{% load markup remove_newlines %}{% spaceless %}

BEGIN:VCALENDAR
PRODID:{{ site.name }} events
VERSION:1.0
BEGIN:VEVENT
UID:{{ event.date_time|date:"U" }}
SUMMARY:{{ event.title|safe }}
DESCRIPTION:{{ event.body|safe|markdown|striptags|remove_newlines }} http://{{ site.domain }}{{ event.get_absolute_url }}
DTSTART:{{ event.date_time|date:"Ymd" }}T{{ event.date_time|date:"His" }}
DTEND:{{ event.date_time_endish|date:"Ymd" }}T{{ event.date_time_endish|date:"His" }}
DTSTAMP:{{ event.date_time|date:"Ymd" }}T{{ event.date_time|date:"His" }}
LOCATION:{{ event.place }}
PRIORITY:3
END:VEVENT
END:VCALENDAR

{% endspaceless %}